<div class="mx-auto p-3 container border color-fondo">
    <label class="form-label" for="agregarPlato"
      >Busque un Slide</label
    >
    <input
      class="form-control"
      (keyup)="buscarSlide($event)"
      type="text"
      id="agregarPlato"
      placeholder="Buscar Slide"
    />
    <div *ngFor="let slide of slideFilter">
        <table *ngIf="slide" class="table table-striped mt-5">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Foto</th>
                <th>Order</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ slide.name }}</td>
                <td>
                  <img
                    [src]="slide.image | noimage"
                    class="rounded-circle"
                    alt="Foto"
                    width="80"
                    height="80"
                  />
                </td>
                <td>{{ slide.order }}</td>
                <td>
                  <i
                    [routerLink]="['/backoffice/slider/update/', slide.id]"
                    class="fas fa-edit fa-lg text-primary me-5"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>