.font {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.activeButton {
  font-weight: bold;
}

a {
  color: black;
}

ul .regis-color{
  color: #FFFFFF;
  background: rgba(255, 0, 0, 1);
}

a .a-active{
  color: black;
}