.font {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.activeButton {
  font-weight: bold;
}

a {
  color: black;
}

ul .regis-color{
  color: #FFFFFF;
  background: rgba(255, 0, 0, 1);
}

.nav-link:focus, .nav-link:hover {
  color: black;
}

@media all and (max-width:991px){
  .m-small{
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .navbar-small{
    width: 15%;
  }
  .dropdown-menu {
     position: relative;
  }
}