.view.view-cascade {
    margin-top: -1.25rem;
    width: 90%;
    height: 10rem;
    border-radius: 5px;
    img {
        max-width: 130%;
        min-width: 100%;
    }
}
.content {
    padding: 0;
    height: 5rem;
} 