<div class="container">
    <div class="card shadow-lg">
        <div class="card-body">
            <span class="h3">Listado de Actividades</span>
            <button class="btn btn-outline-primary rounded-pill p-3 fw-bold float-end btn-create" routerLink="/backoffice/activities/create">
          Agregar Actividad
        </button>
            <h5 *ngIf="!data.length">
                No hay datos para mostrar
            </h5>
            <div class="table-resposive">
                <table *ngIf="data.length" class="table table-striped align-middle">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>fecha creada</th>
                            <th>Imagen</th>
                            <th>Acciones</th>

                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr *ngFor="let item of data">
                            <td>{{ item.name }}</td>
                            <td class="">{{ item.created_at | date: 'M/d/y'}}</td>
                            <td><img [src]="item.image" class="img-circle"></td>
                            <td>
                                <i class="fas fa-edit fa-lg text-primary me-3" (click)="redirectView(item.id)"></i>
                                <i class="fas fa-trash-alt fa-lg text-danger"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-loader></app-loader>