.image{
    height: 12rem;
    overflow: hidden;
    .img{
        max-width: 100%;
        min-width: 100%;
    }
    img{
        max-width: 100%;
        min-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .image{
        width: 50%;
    }
}
   