<section *ngIf="!showImage" class="radius justify-content-center align-items-center text-center my-5" [ngStyle]="{backgroundImage:' url(assets/image/background-default.png)'}">
  <div
    class="col-sm-12 col-md-8 my-5 p-2 rounded-pill"
    class="w-100 "
  >
    <h1 class="font">
      <strong>{{ showTitle | uppercase }}</strong>
    </h1>
  </div>
</section>
<section *ngIf="showImage" class="row radius justify-content-center align-items-center text-center my-5" [ngStyle]="{backgroundImage:'url('+showImage+')'}">
  <div
    class="col-sm-12 col-md-8 my-5 p-2 rounded-pill"
    class="w-100 "
  >
    <h1 class="font">
      <strong>{{ showTitle  | uppercase }}</strong>
    </h1>
  </div>
</section>
