.font {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.activeButton {
  font-weight: bold;
  
}

a {
  color: black;
}

ul .regis-color {
  color: #ffffff !important;
  background: rgba(255, 0, 0, 1);
}

.nav-link:focus,
.nav-link:hover {
  color: black;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(0 0 0);
}

@media all and (max-width: 991px) {
  .m-small {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .navbar-small {
    width: 22%;
  }
  .dropdown-menu {
    position: relative;
  }
}

@media all and (max-width: 300px) {
  .navbar-small {
    width: 70%;
  }
}

@media all and (min-width: 300px) and (max-width: 650px) {
  .navbar-small {
    width: 50%;
  }
}
