<div class="overflow-hidden w-100 p-5">
    <div class="d-flex flex-row justify-content-between aling-items-center p-2 ">
        <h2>últimas novedades</h2>
        <a class="pe-auto" routerLink="/news">Ver todos...</a>
    </div>
    <div class="row row-cols-md-3 g-3 flex-row">
        <div *ngFor="let new of news">
            <div class="col" height="320px">
                <div class="card shadow p-2">
                    <div class="card-img-top d-flex justify-content-center aling-items-center overflow-hidden">
                        <img class="rounded mx-auto d-block" src="{{new.image}}" alt="..." height="160px">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-truncate">{{new.name}}</h5>
                        <p  class="card-text p-0 text-truncate" height="160px">{{new.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>