<footer class="bg-light">
  <div class="row">
    <div class="col-6 text-left">
      <img
        src="assets/images/LOGO-SOMOS MAS.png"
        class="w-50"
        alt=""
        srcset=""
      />
    </div>
    <div class="col-6 m-auto">
      <div>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div>
      <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
      <div>
      <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>
</footer>
