<div class="card text-center w-50 mx-auto">
    <div class="card-header">
      Slides
    </div>
    <div class="card-body">
      <h5 class="card-title">Agregar Slides</h5>
      <p class="card-text">Para Agregar un nuevo slides o editar uno existente complete el formulario</p>
      <form >
        <div class="mb-3">
          <label for="nameSlides" class="form-label">Nombre:</label>
          <input type="text" class="form-control" id="nameSlides">
        </div>
        <div class="mb-3">
          <label for="descriptionSlides" class="form-label">Descripcion:</label>
          <textarea class="form-control" id="escriptionSlides" rows="3"></textarea>
        </div>
        <!-- change for select -->
        <div class="mb-3">
          <label for="orderSlides" class="form-label">Orden:</label>
          <input type="number" class="form-control" id="orderSlides">
        </div>
        <div class="mb-3">
          <label for="imageSlide" class="form-label">Imagen:</label>
          <input type="text" class="form-control" id="imageSlide">
        </div>
        <button class="btn btn-primary">Guardar Slides</button>
      </form>
    </div>
    
  </div>