<div class="container mt-4">
  <div class="card shadow-lg">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <span class="h3">Listado de Slides</span>
        <button
          class="btn btn-outline-primary rounded-pill p-3 fw-bold float-end"
          routerLink="/backoffice/slider/create"
        >
          Agregar slide
        </button>
      </div>
      <app-search class="my-3" (dataSearch)="onDataSearch($event)"></app-search>
      <h5 style="margin-top: 30px" *ngIf="!(listSlides)">
        No hay datos para mostrar
      </h5>
      <table *ngIf="!(loading$ | async)" class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Foto</th>
            <th>Order</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listSlides">
            <td>{{ item.name }}</td>
            <td>
              <img
                [src]="item.image | noimage"
                class="rounded-circle"
                alt="Foto"
                width="80"
                height="80"
              />
            </td>
            <td>{{ item.order }}</td>
            <td>
              <i
                [routerLink]="['/backoffice/slider/update/', item.id]"
                class="fas fa-edit fa-lg text-primary me-5"
              ></i>
              <i
                (click)="deleteSlide(item.id)"
                class="fas fa-trash-alt fa-lg text-danger"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
      <app-skeleton [count]="20" *ngIf="loading$ | async"></app-skeleton>
    </div>
  </div>
</div>
