<app-loader></app-loader>
<div class="container mt-4">
  <div class="card shadow-lg">
    <div class="card-body">
      <span class="h3">Listado de Usuarios</span>
      <button
        class="btn btn-outline-primary rounded-pill p-3 fw-bold float-end mb-3"
        routerLink="/backoffice/users/create"
      >
        Agregar usuario
      </button>
      <input
        type="search"
        class="form-control form-control-sm rounded-pill p-3"
        placeholder="🔍 Ingrese aquí el nombre del usuario que busca..."
        (keyup)="searchUser($event)"
      />
      <table class="table table-striped mt-4">
        <thead>
          <tr>
            <th>Nombre completo</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users$ | async">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td class="icons">
              <i
                [routerLink]="['/backoffice/users/edit', user.id]"
                class="fas fa-edit fa-lg text-primary me-5"
              ></i>
              <i
                (click)="deleteUser(user.id)"
                class="fas fa-trash-alt fa-lg text-danger"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
