<div class="d-flex flex-row">
  <div *ngIf="show" class="sidebar container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto w-100 col-md-3 col-xl-2 px-sm-2 px-0 bg-secondary">
        <div
          class="d-flex flex-column align-items-center align-items-sm-start px-md-5 pt-2 text-white min-vh-100"
        >
          <img
            width="90"
            src="../../../../../assets/images/LOGO-SOMOS MAS.png"
            alt="Logo Somos Más"
          />
          <span class="fs-5 d-none d-sm-inline mb-3">Backoffice</span>

          <ul
            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu"
          >
            <li class="nav-item my-2 nav-link ">
              <i class="fs-4 bi bi-house"></i>
              <span class="ms-2 d-none d-sm-inline">Home</span>
            </li>
            <li class="nav-item my-2 nav-link ">
              <i class="fs-4 bi bi-newspaper"></i>
              <span class="ms-2 d-none d-sm-inline">Novedades</span>
            </li>
            <li class="nav-item my-2 nav-link ">
              <i class="fs-4 bi bi-list-task"></i>
              <span class="ms-2 d-none d-sm-inline">Actividades</span>
            </li>
            <li class="nav-item my-2 nav-link ">
              <i class="fs-4 bi bi-bookmark-heart"></i>
              <span class="ms-2 d-none d-sm-inline">Categorías</span>
            </li>
            <li class="nav-item my-2 nav-link ">
              <i class="fs-4 bi-chat-left-text"></i>
              <span class="ms-2 d-none d-sm-inline">Testimonios</span>
            </li>
            <li class="nav-item my-2 nav-link ">
              <i class="fs-4 bi bi-building"></i>
              <span class="ms-2 d-none d-sm-inline">Organización</span>
            </li>
            <li class="nav-item my-2 nav-link ">
              <i class="fs-4 bi bi-images"></i>
              <span class="ms-2 d-none d-sm-inline">Slider</span>
            </li>
            <li class="nav-item my-2 nav-link ">
              <i class="fs-4 bi bi-people"></i>
              <span class="ms-2 d-none d-sm-inline">Usuarios</span>
            </li>
            <li class="nav-item my-2 nav-link ">
              <i class="fs-4 bi bi-people-fill"></i>
              <span class="ms-2 d-none d-sm-inline">Miembros</span>
            </li>
            <li class="nav-item my-2 nav-link ">
              <button class="btn btn-outline-light">
                <strong class="h4">↵</strong>
                <span class="ms-2 d-none d-sm-inline">Salir</span>
              </button>
            </li>
          </ul>

          <div class="pb-4">
            <img
              src="https://github.com/mdo.png"
              alt="hugenerd"
              width="30"
              height="30"
              class="rounded-circle"
            />
            <span class="d-none d-sm-inline mx-1">Juan Perez</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="">
    <button
    type="button"
    class="btn btn-light m-2"
    data-toggle="collapse"
    data-target="#navbar"
    aria-expanded="false"
    aria-controls="navbar"
    (click)="show = !show"
  >
    <span class="sr-only">Toggle navigation</span>
    <i class="ic fa fa-bars h3 m-0 p-0"></i>
  </button>
  </nav>
</div>
