<!-- <div class="app" style="display: flex; height: 100%; overflow: scroll initial">
  <CDBSidebar textColor="#ffffff" backgroundColor="#333333">
    <CDBSidebarHeader [prefix]="icon">
      <ng-template #icon>
        <i class="fa fa-bars fa-large"></i>
      </ng-template>

      Titulo
    </CDBSidebarHeader>

    <CDBSidebarContent>
      <CDBSidebarMenu class="sidebar-content">
        <CDBSidebarMenuItem link="/" icon="columns">
          Dashboard
        </CDBSidebarMenuItem>
        <CDBSidebarMenuItem link="/backoffice/news" icon="newspaper">
          Novedades
        </CDBSidebarMenuItem>
        <CDBSidebarMenuItem link="/backoffice/activities" icon="sticky-note">
          Actividades
        </CDBSidebarMenuItem>
        <CDBSidebarMenuItem link="/backoffice/categories" icon="th-large">
          Categorias
        </CDBSidebarMenuItem>
        <CDBSidebarMenuItem link="/backoffice/testimonios" icon="pen">
          Testimonios
        </CDBSidebarMenuItem>
        <CDBSidebarMenuItem link="/backoffice/organization" icon="calendar">
          Organizacion
        </CDBSidebarMenuItem>
        <CDBSidebarMenuItem link="/backoffice/slider" icon="bookmark">
          Slides
        </CDBSidebarMenuItem>
        <CDBSidebarMenuItem link="/backoffice/users" icon="users">
            Usuarios
          </CDBSidebarMenuItem>
          <CDBSidebarMenuItem link="/backoffice/members" icon="users">
            Miembros
          </CDBSidebarMenuItem>
      </CDBSidebarMenu>
    </CDBSidebarContent>
    <div class="mt-auto">
      <CDBSidebarFooter style="text-align: center; margin-top: auto">
        <div class="sidebar-btn-wrapper" style="padding: 20px 5px">
          Sidebar Footer
        </div>
      </CDBSidebarFooter>
    </div>
  </CDBSidebar>
</div> -->
