<section class="container size-tv font">
  <div>
    <h2 class="text-center">Paraguay 1230 - 31/12/2022 - 13:15hs</h2>
    <p class="d-flex justify-content-center align-items-center">
      <strong class="display-n size-tablet"> {{ tiempoFaltante }} </strong>
      <span class="display-n size-tablet"> &nbsp;para partcipar! </span>
    </p>
  </div>
  <div class="container row">
      <div class="col-lg-3">
        <img
          src="assets/images/campala-escolar-opción1.png"
          class="col-lg-3 w-100 display-n size-pc"
        />
      </div>
      <div class="col-lg-6">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse tempora
        laboriosam optio perferendis placeat numquam tempore rerum, id animi
        fugiat, atque blanditiis quam, voluptatem praesentium repudiandae.
        Facilis dolores architecto voluptate natus porro totam rerum soluta
        impedit aliquam unde necessitatibus eveniet quaerat, deserunt obcaecati
        provident. Totam, laudantium sit natus praesentium maiores dolor est
        deleniti sunt tempore, quae repudiandae incidunt similique ad numquam
        saepe, officiis at recusandae placeat et suscipit. Reiciendis
        necessitatibus enim eum? Eos non unde doloremque iusto ducimus
        repudiandae ut sunt assumenda expedita quia sed adipisci reprehenderit
        maiores laboriosam alias, cum aspernatur eum eligendi beatae voluptatum.
        Quas ducimus harum fugiat?
      </p>
    </div>
    <div class="col-lg-3 display-n size-pc">
      <img src="assets/images/campala-escolar-opción2.png" class="w-100 " />
    </div>
    <div class="col-12 d-flex justify-content-center ">
        <img
          src="assets/images/campala-escolar-logo.png"
          alt="logo campaña"
          class="my-3 w-25 display-n size-pc"
        />
      </div>
  </div>
</section>
