<main>
    <header>
        <div> <img class="logocapana" src="assets/images/logo_capana.png" alt="Logo Campana"></div>
        <div class="titulos">Juguetes por una Sonrrisa</div>
        <div> <img class="logosomosmas" src="assets/images/logo-somos_mas.png" alt="Logo ONG"></div>
    </header>
    <nav>
        Aquiva un slider
    </nav>
    <section>

        <div class="titulos">01-01-1900 13:15 hs Calle 123, Localidad, Provincia</div>

        <div class="tiempo">Te quedan:{{textoTiempo}}  para partcipar</div>
        <div class="juguetes">
            <img class="image img1" src="assets/images/juguetes1.jpg" alt="img1">
        </div>    
        <div class="description">
            Descripcion de la campaña lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
            <div class="juguetes">
            <img class="image img2" src="assets/images/juguetes2.png" alt="img2">
            </div>
        <div class="juguetes">
            <img class="image img3" src="assets/images/juguetes3.jpeg" alt="img3">
            <img class="image img4" src="assets/images/juguetes4.jpg" alt="img4">
            <img  class="image  img5" src="assets/images/juguetes5.jpg" alt="img5">
        </div>

    </section>
    <footer>
        Footer
    </footer>

</main>

