<div
    class="notFound g-3 flex-column row-cols-md-2 min-vw-100 min-vh-100 d-flex justify-content-center align-items-center">
    <div>
        <img src="../../../../assets/image/notFound.svg">
    </div>
    <div class="p-3">
        <div class="w-100">
            <p class="m-2 text-bold display-6 text-danger"><strong>404</strong></p>
            <h2>UH OH! Estas perdido.</h2>
            <p class="display-6">La página que buscas no existe, <br> cómo llegaste aquí es un misterio,
                <br> pero puede hacer clic en el botón de abajo
                <br> para volver a la página de inicio.
            </p>
            <button routerLink="/" class="w-25 btn btn-outline-danger rounded-pill p-2 mb-2 fw-bold">Inicio</button>
        </div>

    </div>
</div>