<app-layout-component>
  <div class="container min-vh-100">
    <app-titulo [title]="title"></app-titulo>
    <div class="album py-2 bg-light">
      <app-search (search)="onSearch($event)"></app-search>
      <div class="container">
        <div class="row row-cols-lg-3 row-cols-md-2 g-3 flex-row">
          <div *ngFor="let new of newsData">
              <app-card
                [image]="new.image"
                [title]="new.name"
                [content]="new.content"
              >
              <p class="text-muted">{{new.created_at | date}}</p>
                <a
                  routerLink="{{ new.id }}"
                  class="deco-none text-danger d-flex flex-row-reverse p-2"
                >
                  <h3 class="">
                    Leer más...<i class="fas fa-angle-double-right"></i>
                  </h3>
                </a>
              </app-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout-component>
