<div class="container">
    <div class="row min-vh-100 justify-content-center align-items-center">
      <div class="col-sm-12 col-md-8 col-lg-6">
        <div class="card w-100 shadow-lg border-0 text-center p-5">
          <img
            src="https://www.analisisdigital.com.ar/sites/default/files/styles/noticias_front_desktop/public/imagenNoticiaDigital/ong_0.jpg?itok=VeWFCCKR&timestamp=1625269087"
            class="card-img-top"
            alt="ONG image"
          />
          <div class="card-body">
            <h4 class="mb-3">NOMBRE ORGANIZACIÓN</h4>
            <p class="card-text">
              Short Description: Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Corrupti molestiae explicabo impedit ratione, odit
              id ab vel natus, dolores dolorem maiores esse, cupiditate cumque
              eveniet provident magni nostrum hic totam.
            </p>
  
            <div class="d-grid">
              <a
                [routerLink]="['/backoffice/organization/edit']"
                class="btn btn-outline-primary rounded-pill p-3 fw-bold"
                >EDITAR</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
