<div class=" my-2">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <p *ngIf="!organizationData" class="card-text placeholder-glow">
                <span class="placeholder col-8"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
            </p>
            <h1 class="display-4 fw-bold lh-1">{{organizationData?.welcome_text}}</h1>
            <p [innerHtml]="organizationData?.short_description" class="lead"></p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <button type="submit" class="btn btn-outline-danger text-xl rounded-pill p-3 fw-bold">
                    Contacto
                </button>
            </div>
        </div>
        <div class="col-lg-5 p-0 rounded overflow-hidden shadow-lg">
            <img class="rounded-lg-3 aling-items-centere justify-content-center w-100 h-100"
                src="https://user-images.githubusercontent.com/94970159/179098034-30b2669c-8df8-46a2-9502-f3f7b70d85f0.jpg"
                alt="">
        </div>
    </div>
</div>